<%- include('../partials/header.ejs')%>

<main class="d-flex align-content-between flex-wrap justify-content-center">

    <% items.forEach(item => { %>

        <div class="item-container m-4" onclick="window.location.href = '/items/' + '<%= item.id %>';">
            <figure>
                <img src="<%= item.image %>" width="200">
                <figcaption class="ps-2 h5 pe-2"><%= item.title %></figcaption>
            </figure>
            <div class="inner-item ps-2 pe-2">
                <u class="m-0 red"><%= item.condition %></u>
                <p class="m-0">Sold by: <%= item.seller %></p>
                <hr class="w-75 m-auto">
                <div class="d-flex justify-content-between">
                    <p class="m-0">$<%= (Math.round(item.price * 100) / 100).toFixed(2) %></p>
                    <p class="m-0 red"><%= item.totalOffers %> Offers</p>
                </div>
            </div>
        </div>

    <% }); %>

</main>

<script src="/scripts/default.js"></script>

<%- include('../partials/footer.ejs')%>