<%- include('../partials/header.ejs')%>

    <!-- if items is empty -->
    <% if (items.length === 0) { %>
        <main class="text-center m-auto">
        <h1 class="slogan">No items found!</h1>
    <% } else { %>
    <main class="d-flex align-content-between flex-wrap justify-content-center">
    <% items.forEach(item => { %>

        <div class="item-container m-4" onclick="window.location.href = '/items/' + '<%= item.id %>';">
            <figure>
                <img src="<%= item.image %>" width="200">
                <figcaption class="ps-2 h5 pe-2"><%= item.title %></figcaption>
            </figure>
            <div class="inner-item ps-2 pe-2">
                <!-- if statements to format condition string based on value -->
                <% if (item.condition === 'new') { %>
                    <u class="m-0 red">New</u>
                <% } else if (item.condition === 'like-new') { %>
                    <u class="m-0 red">Used - Like New</u>
                <% } else if (item.condition === 'good') { %>
                    <u class="m-0 red">Used - Good</u>
                <% } else if (item.condition === 'fair') { %>
                    <u class="m-0 red">Used - Fair</u>
                <% } else { %>
                    <u class="m-0 red">Other</u>
                <% } %>
                <p class="m-0">Sold by: <%= item.seller %></p>
                <hr class="w-75 m-auto">
                <div class="d-flex justify-content-between">
                    <p class="m-0">$<%= (Math.round(item.price * 100) / 100).toFixed(2) %></p>
                    <p class="m-0 red"><%= item.totalOffers %> Offers</p>
                </div>
            </div>
        </div>

    <% }); }%>

</main>

<%- include('../partials/footer.ejs')%>