<%- include('../partials/header.ejs')%>

    <!-- if items is empty -->
    <% if (items.length === 0) { %>
        <main class="text-center m-auto">
        <h1 class="slogan">No items found!</h1>
    <% } else { %>
    <main class="d-flex align-content-between flex-wrap justify-content-center">
    <% items.forEach(item => { %>

        <div class="item-container d-flex flex-column m-4" onclick="window.location.href = '/items/' + '<%= item.id %>';">
            <figure>
                <img src="<%= item.image %>" width="200">
                <figcaption class="ps-2 h5 pe-2"><%= item.title %></figcaption>
            </figure>
            <div class="ps-2 pe-2 mt-auto">
                <!-- if statements to format condition string based on value -->
                <% if (item.condition === 'new') { %>
                    <p class="m-0 red">New</p>
                <% } else if (item.condition === 'like-new') { %>
                    <p class="m-0 red">Used - Like New</p>
                <% } else if (item.condition === 'good') { %>
                    <p class="m-0 red">Used - Good</p>
                <% } else if (item.condition === 'fair') { %>
                    <p class="m-0 red">Used - Fair</p>
                <% } else { %>
                    <p class="m-0 red">Other</p>
                <% } %>
                <hr class="w-75 m-auto">
                <div class="d-flex justify-content-between">
                    <p class="m-0">$<%= (Math.round(item.price * 100) / 100).toFixed(2) %></p>
                    <% if (item.totalOffers == 1) { %>
                        <p class="m-0 red"><%= item.totalOffers %> Offer</p>
                    <% }  else {%>
                    <p class="m-0 red"><%= item.totalOffers %> Offers</p>
                    <% } %>
                </div>
            </div>
        </div>
    <% }); }%>
</main>

<%- include('../partials/footer.ejs')%>