<%- include('../partials/header.ejs')%>

<main class="d-flex align-items-center flex-wrap m-auto">
    <div class="me-5">
        <img class="rounded img-fluid" src="<%= item.image %>" width="350">
    </div>
    <div>
        <h1 class="slogan"><%= item.title %></h1>
        <p class="h4">Condition: <span class="red"><u><%= item.condition %></u></span></p>
        <p class="h4">Price: $<%= (Math.round(item.price * 100) / 100).toFixed(2) %> | Offers: <%= item.totalOffers %></p>
        <p class="h4">Seller: <%= item.seller %></p>
        <p class="h6"><%= item.details %></p>
        <form>
            <button class="btn buttons-dark btn-dark me-3" type="submit" formmethod="GET" formaction="/items/<%= item.id%>/edit">Edit</button>
            <button class="btn buttons-dark btn-dark" type="submit" formmethod="POST" formaction="/items/<%= item.id%>?_method=DELETE">Delete</button>
        </form>
    </div>
</main>

<%- include('../partials/footer.ejs')%>