<%- include('../partials/header.ejs')%>

<main class="d-flex align-items-center flex-wrap m-auto">
    <div class="me-5">
        <img class="rounded img-fluid" src="<%= item.image %>" width="350">
    </div>
    <div>
        <h1 class="slogan"><%= item.title %></h1>
        <!-- if statements to format condition string based on value -->
        <% if (item.condition === 'new') { %>
            <p class="h4">Condition: <span class="red"><u>New</u></span></p>
        <% } else if (item.condition === 'like-new') { %>
            <p class="h4">Condition: <span class="red"><u>Used - Like New</u></span></p>
        <% } else if (item.condition === 'good') { %>
            <p class="h4">Condition: <span class="red"><u>Used - Good</u></span></p>
        <% } else if (item.condition === 'fair') { %>
            <p class="h4">Condition: <span class="red"><u>Used - Fair</u></span></p>
        <% } else { %>
            <p class="h4">Condition: <span class="red"><u>Other</u></span></p>
        <% } %>
        <p class="h4">Price: $<%= (Math.round(item.price * 100) / 100).toFixed(2) %> | Offers: <%= item.totalOffers %></p>
        <% if (item.seller.id === user) { %>
        <p class="h4">Seller: <span class="slogan">You</span></p>
        <p class="h6"><%= item.details %></p>
        <% } else {%>
        <p class="h4">Seller: <%= item.seller.firstName + ' ' + item.seller.lastName %></p>
        <p class="h6"><%= item.details %></p>
        <% } %>
    </div>
</main>

<%- include('../partials/footer.ejs')%>