<%- include('../partials/header.ejs')%>
    <p class="h1 text-light text-center mt-3">Welcome, <span class="slogan"><%=user.firstName%></span>!</p>

    <ul class="border-bottom-0 ms-auto me-auto nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="btn btn-dark slogan active buttons-dark tab-btn tab-btn-left p-2" id="items-tab" data-bs-toggle="tab" data-bs-target="#items" type="button" role="tab" aria-controls="items" aria-selected="true">My Items</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn btn-dark slogan buttons-dark tab-btn tab-btn-right p-2" id="offers-tab" data-bs-toggle="tab" data-bs-target="#offers" type="button" role="tab" aria-controls="offers" aria-selected="false">My Offers</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="items" role="tabpanel" aria-labelledby="items-tab">
            <div class="pt-0 d-flex align-content-between flex-wrap justify-content-center">
            <% if (items.length === 0) { %>
                <div class="text-center m-auto">
                    <p class="h2 text-light text-center">You have no items listed.</p>
                    <form>
                        <button type="submit" formmethod="GET" formaction="/items/new" class="btn btn-dark slogan p-3">Start Selling</button>
                    </form>
                </div>
            <% } else { %>
            <% items.forEach(item => { %>
                <div class="item-container m-4 d-flex flex-column" onclick="window.location.href = '/items/' + '<%= item.id %>';">
                    <figure>
                        <img src="<%= item.image %>" width="200">
                        <figcaption class="ps-2 h5 pe-2"><%= item.title %></figcaption>
                    </figure>
                    <div class="ps-2 pe-2 mt-auto">
                        <div class="d-flex justify-content-between align-items-center">
                        <!-- if statements to format condition string based on value -->
                            <% if (item.condition === 'new') { %>
                                <p class="m-0 red">New</p>
                            <% } else if (item.condition === 'like-new') { %>
                                <p class="m-0 red">Used - Like New</p>
                            <% } else if (item.condition === 'good') { %>
                                <p class="m-0 red">Used - Good</p>
                            <% } else if (item.condition === 'fair') { %>
                                <p class="m-0 red">Used - Fair</p>
                            <% } else { %>
                                <p class="m-0 red">Other</p>
                            <% } %>
                            <% if (item.active) { %>
                                <div class="btn btn-static-success btn-success p-1 m-1">Active</div>
                            <% } else {%>
                                <div class="btn btn-static-danger btn-danger p-1 m-1">Inactive</div>
                            <% } %>
                        </div>
                        <hr class="w-75 m-auto">
                        <div class="d-flex justify-content-between">
                            <p class="m-0">$<%= (Math.round(item.price * 100) / 100).toFixed(2) %></p>
                            <% if (item.totalOffers == 1) { %>
                                <p class="m-0 red"><%= item.totalOffers %> Offer</p>
                            <% }  else {%>
                            <p class="m-0 red"><%= item.totalOffers %> Offers</p>
                            <% } %>
                        </div>
                    </div>
                    <form class="d-flex flex-column justify-content-center p-2">
                        <div class="d-flex justify-content-around">
                            <button type="submit" formmethod="GET" formaction="/items/<%= item.id%>/edit" class="btn btn-dark slogan"><i class="bi bi-pencil-square pe-1"></i>Edit</button>
                            <button type="submit" formmethod="POST" formaction="/items/<%= item.id%>?_method=DELETE" class="btn btn-danger"><i class="bi bi-trash3-fill" ></i> Delete</button>
                        </div>
                        <button type="submit" formmethod="GET" formaction="#" class="mt-2 btn btn-dark slogan flex-grow">View Offers</button>
                    </form>
                </div>
            <% }); }%>
            </div>
        </div>

        <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-tab">
            <% if (offers.length === 0) { %>
                <div class="text-center m-auto">
                    <p class="h2 text-light text-center">You have not made any offers yet</p>
                    <form>
                        <button type="submit" formmethod="GET" formaction="/items" class="btn btn-dark slogan p-3">Start Browsing</button>
                    </form>
                </div>
            <% } else { %>
                <table class="table w-75 ms-auto me-auto mt-4 custom-tbl table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Status</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% offers.forEach(offer => { %>
                      <tr>
                        <td>
                            <a class="slogan item-container p-2" href="/items/<%= offer.item.id %>">
                                <%= offer.item.title %>
                            </a>
                        </td>
                        <td><%= offer.status %></td>
                        <td>$<%= (Math.round(offer.amount * 100) / 100).toFixed(2) %></td>
                      </tr>
                        <% });} %>
                    </tbody>
                  </table>
        </div>
    </div>

<%- include('../partials/footer.ejs')%>